form{
  max-width:40rem;
  width: 28rem;
  & input{
    outline: none;
  }
  & button{
  outline: none;
}
}
 .avatar{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 6rem;
  box-shadow: 0 0 0 2px #8B8AE1;
}

@media (max-width:49rem){
    input{
        max-width: 80%;
    }
    form{
        max-width:100%;
    }
}